<%- include('partials/header'); -%>​
  ​
  <header>​

    <div class="smoothie">​
      <img src="/smoothie.png" alt="">​
    </div>​

    <div class="headings">​
      <h2>Smoothie Recipes</h2>​
      <h3>By Master Chef For Your</h3>
      ​
      <a href="/smoothies" class="btn">View Recipes</a>
      <% if (role) { %>
        <a href="/smoothies-specials" class="btn">Specials For VIP</a>
      <% } %>
    </div>​

  </header>​

  <%- include('partials/footer'); -%>​

    ​