<%- include('partials/header'); -%>​
<h1>Smoothies Special</h1>
<ul class="recipes">​

  <li class="recipe">​
    <img src="/smoothie.png" alt="smoothie recipe icon">​
    <h4>Banana Boost Special</h4>​
    <p>Banana, Vanilla ice cream, Milk, Vodka</p>​
  </li>​

  <li class="recipe">​
    <img src="/smoothie.png" alt="smoothie recipe icon">​
    <h4>Tropical Twist Special</h4>​
    <p>Peach, Pinapple, Apple juice, Vodka</p>​
  </li>​​

</ul>​
​
<%- include('partials/footer'); -%>​

​